---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Problema from '../components/Problema.astro';
import Solucion from '../components/Solucion.astro';
import Services from '../components/Services.astro';
import Process from '../components/Process.astro';
import Resultados from '../components/Resultados.astro';
import Portfolio from '../components/Portfolio.astro';
import Testimonio from '../components/Testimonio.astro';
import Tecnologias from '../components/Tecnologias.astro';
import Equipo from '../components/Equipo.astro';
import Faq from '../components/Faq.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
	<Navbar />
	<main>
		<Hero />
		<Problema />
		<Solucion />
		<Services />
		<Process />
		<Resultados />
		<Portfolio />
		<Testimonio />
		<Tecnologias />
		<Equipo />
		<Faq />
		<Contact />
	</main>
	<Footer />
</Layout>
